{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post" novalidate>
                        {% csrf_token%}
                        {{ form|crispy}}
                        <button type="submit" class="btn btn-primary btn-sm"> Log In</button>
                    </form>
                </div>
              <a href="" class="D-block mx-auto mb-2">Forgot password? </a>
            </div>
            <div class="card mt-4">
              <div class="card-body">
                Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
              </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}